{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}{{ "dashboard.index.title"|trans }}{% endblock %}
{% set active_menu = 'dashboard' %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">{{ "dashboard.index.title"|trans }}</span></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% import _self as reportFunc %}

{% block page_content %}
    <!-- wrapp_top -->
    <div class="wrapp_top">

        <div class="span_title">{{ "dashboard.index.coupon_recent"|trans }}</div>
        <div class="category_top">
            <div class="row">
                {% for coupon in coupons %}
                    <div class="col-md-3">
                        <div class="content_category_top">
                            <a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="link_blue click_to_load_modal_popup">
                                <img width="236px" height="141px" src="{{ asset(coupon_avatar_path~coupon.imageUrl) }}" class="img_top" alt="">
                            </a>
                            <a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="link_blue click_to_load_modal_popup">
                                <h3 class="h3_title">
                                    {{ coupon.title }}
                                </h3>
                            </a>

                            <p><a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="link_blue click_to_load_modal_popup">{{ "form.coupon.type_choices." ~coupon_types[coupon.type]|trans }}</a></p>
                            <p>
                                <a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="link_blue click_to_load_modal_popup">
                                    <span class="red">{{ "dashboard.index.deadline"|trans }}: {{ coupon.expiredTime|date("Y.m.d") }}</span>
                                </a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="span_title">{{ "dashboard.index.chart.title"|trans }}</div>
        <div class="wrapp_chart">
            <div class="row">
                <div class="col-md-4 pull-right">
                    <a class="btn btn-primary btn-sm metric_btn {% if dimension == "nthHour"  %}active{% endif %}" value="nthHour" href="javascript:void(0);">
                        {{ "dashboard.index.chart.dimension.hour"|trans }}
                    </a>
                    <a class="btn btn-primary btn-sm metric_btn {% if dimension == "nthWeek"  %}active{% endif %}" value="nthWeek" href="javascript:void(0);">
                        {{ "dashboard.index.chart.dimension.day"|trans }}
                    </a>
                    <a class="btn btn-primary btn-sm metric_btn {% if dimension == "date"  %}active{% endif %}" value="date" href="javascript:void(0);">
                        {{ "dashboard.index.chart.dimension.week"|trans }}
                    </a>
                    <a class="btn btn-primary btn-sm metric_btn {% if dimension == "nthMonth"  %}active{% endif %}" value="nthMonth" href="javascript:void(0);">
                        {{ "dashboard.index.chart.dimension.month"|trans }}
                    </a>
                </div>
                <div class="col-md-2 pull-right">
                    <select id="selectMetric" class="form-control">
                        <option {% if type == "sessions" %}selected="selected"{% endif %} value="sessions">{{ "dashboard.index.chart.metric.session"|trans }}</option>
                        <option {% if type == "users" %}selected="selected"{% endif %} value="users">{{ "dashboard.index.chart.metric.user"|trans }}</option>
                        <option {% if type == "pageviews" %}selected="selected"{% endif %} value="pageviews">{{ "dashboard.index.chart.metric.page_view"|trans }}</option>
                        <option {% if type == "avgSessionDuration" %}selected="selected"{% endif %} value="avgSessionDuration">{{ "dashboard.index.chart.metric.avg_session_duration"|trans }}</option>
                        <option {% if type == "bounceRate" %}selected="selected"{% endif %} value="bounceRate">{{ "dashboard.index.chart.metric.bounce_rate"|trans }}</option>
                        <option {% if type == "exitRate" %}selected="selected"{% endif %} value="exitRate">{{ "dashboard.index.chart.metric.exit_rate"|trans }}</option>
                    </select>
                </div>

            </div>
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="tab_top">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.user"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.users|number_format(0, '.', ',') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.session"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.sessions|number_format(0, '.', ',') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.page_view"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.pageViews|number_format(0, '.', ',') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.exit_rate"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.exitRate|number_format(2, '.', ',') }} %
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.avg_session_duration"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.avgSessionDuration|round|date('H:i:s') }}
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="content_tab_top">
                        <p>{{ "dashboard.index.chart.metric.bounce_rate"|trans }}</p>
                        <h3>
                            {% if report is not empty %}
                                {{ report.bounceRate|number_format(2, '.', ',') }} %
                            {% else %}
                                N/A
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp_top -->
{% endblock %}

 {% block scripts_footer_inline %}

     <script type="text/javascript">
         $(function () {
             var options = {
                 animationEnabled: true,
                 axisX: {
                     labelAngle: 0
                 },
                 data: [
                     {
                         type: "spline",
                         dataPoints: [
                             {% if report is not empty %}
                                {% for row in report.dataTable.rows %}
                                    { label: "{{ row.rowColumn.columns[0].value|replace({'Date(': "", ')': "", " ":"", ",":"-"}) }}", y: {{ row.rowColumn.columns[reportTypes[type]].value }} },
                                {% endfor %}
                             {% endif %}
                         ]
                     }
                 ]
             };
             $("#chartContainer").CanvasJSChart(options);
         });

         var serialize = function(obj) {
             var str = [];
             for(var p in obj)
                 if (obj.hasOwnProperty(p)) {
                     str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                 }
             return str.join("&");
         }

         $('#selectMetric').on('change', function(){
             var $value = $(this).val();
             var $vars = getUrlVars();
             $vars['metric'] = $value;
             var queryString = serialize($vars);
             window.location.href = "{{ url("admin_dashboard") }}?"+queryString;
         });

         $('.metric_btn').on('click', function(){
             $('.metric_btn').removeClass('active');
             $(this).addClass('active');
             var $value = $(this).attr('value');
             var $vars = getUrlVars();
             $vars['dimension'] = $value;
             var queryString = serialize($vars);
             window.location.href = "{{ url("admin_dashboard") }}?"+queryString;
         });

         function getUrlVars()
         {
             var vars = [], hash;
             var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

             for(var i = 0; i < hashes.length; i++)
             {
                 hash = hashes[i].split('=');

                 if(hash[1] != undefined) {
                     vars[hash[0]] = hash[1];
                 }
             }
             return vars;
         }
     </script>
 {% endblock %}