{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% block title %}我々にしかできないこと{% endblock %}
{% set active_menu = 'merrit' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Merrit</h2>
        <h3>我々にしかできないこと</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-merric">
        <div class="container">
            <div class="container-merric">
                <div class="col-md-12">
                    <h2>PONの9つのメリット</h2>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-1.gif') }}" alt=""></span>
                        <p class="merric-bold">登録・月額無料!<br>&nbsp;</p>
                        <p class="merric-meta">
                            まずは、お試し感覚で始めてみて
                            下さい。登録費用も月額費用も一
                            切かかりません。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-2.gif') }}" alt=""></span>
                        <p class="merric-bold">アプリ・Webサイト、<br>オフラインで使えます!</p>
                        <p class="merric-meta">
                            アプリ~Webまでシームレスにか
                            つオフラインで利用することが可
                            能です。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-3.gif') }}" alt=""></span>
                        <p class="merric-bold">登録はカンタン5分<br>&nbsp;</p>
                        <p class="merric-meta">
                            登録に必要な情報は、最低限の情
                            報のみなので、すぐに始めること
                            ができます。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-4.gif') }}" alt=""></span>
                        <p class="merric-bold">自社サイト・SNSとの<br>連携も可能!</p>
                        <p class="merric-meta">
                            自社サイトや自社のSNSへの導線
                            も用意できるため、マーケティン
                            グにも使えます。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-5.gif') }}" alt=""></span>
                        <p class="merric-bold">運用は1人で手軽に<br>スタートできます!</p>
                        <p class="merric-meta">
                            複雑な設定もなく、使いやすい管理画面な
                            で1人で容易に運用することができます。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-6.gif') }}" alt=""></span>
                        <p class="merric-bold">プッシュ通知での集客も可<br>能!</p>
                        <p class="merric-meta">
                            御社の潜在的なファンを「プッシ
                            ュ通知」で効率的に再帰させるこ
                            とができます。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-7.gif') }}" alt=""></span>
                        <p class="merric-bold">自社クーポンアプリも作れ<br>る!</p>
                        <p class="merric-meta">
                            PONではなく自社アプリとしてク
                            ーポンを発行したい場合は、御社
                            独自のアプリを開発することも可
                            能です。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-8.gif') }}" alt=""></span>
                        <p class="merric-bold">QRコードでユーザーに<br>アプローチできる!</p>
                        <p class="merric-meta">
                            ユーザーにストレスなくクーポン
                            を
                            利用してもらうための「QRコー
                            ド」
                            を用意しています。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-9.gif') }}" alt=""></span>
                        <p class="merric-bold">オウンドメディアも<br>作ることが可能!</p>
                        <p class="merric-meta">
                            クーポンで集まった写真から、御
                            社のブランディングサイトやオウ
                            ンドメディアを構築
                            することも可能です。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-service -->
{% endblock %}

