{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Merric</h2>
        <h3>導入フロー</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-merric">
        <div class="container">
            <div class="container-merric">
                <div class="col-md-12">
                    <h2>こんなメリットがあります。</h2>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-1.gif') }}"></span>
                        <p class="merric-bold">アプリ・Webサイト、<br>オフラインで使えます!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-2.gif') }}"></span>
                        <p class="merric-bold">プッシュ通知での<br>集客も可能!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-3.gif') }}"></span>
                        <p class="merric-bold">自社クーポンアプリ<br>も作れる!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-4.gif') }}"></span>
                        <p class="merric-bold">アプリ・Webサイト、<br>オフラインで使えます!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-5.gif') }}"></span>
                        <p class="merric-bold">プッシュ通知での<br>集客も可能!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-6.gif') }}"></span>
                        <p class="merric-bold">自社クーポンアプリ<br>も作れる!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-7.gif') }}"></span>
                        <p class="merric-bold">アプリ・Webサイト、<br>オフラインで使えます!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-8.gif') }}"></span>
                        <p class="merric-bold">プッシュ通知での<br>集客も可能!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-merric">
                        <span><img src="{{ asset('customer/images/img-merric-9.gif') }}"></span>
                        <p class="merric-bold">自社クーポンアプリ<br>も作れる!</p>
                        <p class="merric-meta">
                            PONは、ユーザーが日々SNSに投稿する写真で、
                            「集客」と「接点」を作るアプリです可能ロ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

