{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}{{ "system_setting.term.title"|trans }}{% endblock %}
{% set active_menu = 'system-setting' %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">{{ "system_setting.term.title"|trans }}</span></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% form_theme form with ['AdminBundle:Form:fields.html.twig', _self] %}
{% block page_content %}
    <!-- wrapp_tab -->
    <div class="wrapp_tab">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" >
                <a href="{{ path("admin_setting_system",{type:"contact"}) }}" aria-controls="tab1" role="tab">{{ "system_setting.contact.title"|trans }}</a>
            </li>
            <li role="presentation" class="active">
                <a href="#" aria-controls="tab2" role="tab">{{ "system_setting.term.title"|trans }}</a>
            </li>
            <li role="presentation">
                <a href="{{ path("admin_setting_system",{type:"privacy"}) }}" aria-controls="tab3" role="tab">{{ "system_setting.privacy.title"|trans }}</a>
            </li>
            <li role="presentation">
                <a href="{{ path("admin_setting_system",{type:"trade"}) }}" aria-controls="tab4" role="tab">{{ "system_setting.trade.title"|trans }}</a>
            </li>
            <li role="presentation">
                <a href="{{ path("admin_setting_system",{type:"hoping"}) }}" aria-controls="tab5" role="tab">{{ "system_setting.hoping.title"|trans }}</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                {{ form_start(form, {'attr': {'class': 'submitModal','data-ajax-redirect': path('admin_setting_system',{type:"term"}),'data-ajax-url': path("admin_setting_system",{type:"term"}), 'enctype': 'multipart/form-data'  }}) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-setting">
                            {{ form_row(form.value) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-setting">
                            <span id="error_message" class="error text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <center><button type="submit" class="btn btn-setting">{{ "common.save"|trans }}</button></center>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- //wrapp_tab -->
{% endblock %}