{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}Push{% endblock %}
{% set active_menu = 'push' %}

{% set count = pagination.item_total %}

{% if params.status is defined %}
    {% set status = params.status %}
{% else %}
    {% set status = null %}
{% endif %}

{% set params_emptydelivered = params|merge({ 'status': null, 'page_index': 1 }) %}
{% set params_delivered = params|merge({ 'status': true, 'page_index': 1 }) %}
{% set params_notdelivered = params|merge({ 'status': false, 'page_index': 1 }) %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">プッシュ通知</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="btn-group btn-group-justified">
                <a href="{{ path("admin_push", params_emptydelivered) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is  empty %}active{% endif %}" role="button">全て</a>
                <a href="{{ path("admin_push", params_delivered) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 1%}active{% endif %}" role="button">正常に配信</a>
                <a href="{{ path("admin_push", params_notdelivered) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 0%}active{% endif %}" role="button">配信されます</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn_bread_right">
                <a href="" class="btn_ques"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <form method="GET" action="{{ path('admin_push') }}">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form class="form-group">
                    <input type="text" value="{{ params.query }}" name="query" class="form-control has-feedback-left" id="" placeholder="サーチ">
                    <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                </form>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal_push" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ asset('backend/images/check_push.png') }}" alt="">
                            <p>プッシュ通知を送信しました</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- drop push -->
            <div class="col-md-12">
                <a class="arrow_down collapsed" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span>新しくプッシュ通知を配信</span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="down_con">
                        <form action="">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="タイトル">タイトル</label>
                                    <input type="text" class="form-control" id="タイトル" placeholder="タイトル">
                                </div>
                                <div class="form-group">
                                    <label for="メッセージ">メッセージ</label>
                                    <textarea class="form-control" rows="5">メッセージ</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="JSON">JSON</label>
                                    <textarea class="form-control" rows="5">説明文</textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="配信先のセグメント">配信先のセグメント</label>
                                    <select class="form-control">
                                        <option>お店から1キロ以内のユーザー</option>
                                        <option>Option one</option>
                                        <option>Option two</option>
                                        <option>Option three</option>
                                        <option>Option four</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a href="" class="link_create"><i class="fa fa-plus" aria-hidden="true"></i> セグメントを作成する</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="配信時間指定">配信時間指定</label>
                                            <select class="form-control">
                                                <option>時間を指定して配信</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>2016年</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>07月</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>31日</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>午前</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>12時</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>24分</option>
                                                <option>Option one</option>
                                                <option>Option two</option>
                                                <option>Option three</option>
                                                <option>Option four</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="button_send">
                                    <button type="button" class="btn btn-primary btn-send" data-toggle="modal" data-target="#myModal">
                                        このプッシュ通知を配信
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //drop push -->

        </div>
        </form>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- wrapp_push -->
    <div class="wrapp_push">
        {% if pagination.page_total == 0 %}
        <div class="media">
            No Records.
        </div>
        {% else %}
            {% for push in pushs %}
        <div class="row">
            <div class="col-md-12">
                <div class="content_push">
                    <div class="top_push">
                        <div class="left_push">
                            <h2>{{ push.title }}</h2>
                            <div class="des_deliver">
                                <span class="des_push">配信先のセグメント</span>
                                <span class="deliver_push"> {% if push.status == 0 %}配信されます{% else %} 正常に配信 {% endif %}</span>
                            </div>
                        </div>
                        <a href="" class="link_blue">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                    <div class="bottom_push">
                        <p>
                            {{ push.message }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
    <!-- wrapp_push -->

{% endblock %}

