{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}Store{% endblock %}
{% set active_menu = 'store' %}

{% set count = pagination.item_total %}

{% block page_content %}

    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <div class="row">
            <div class="col-md-8">
                <form method="GET" action="{{ path('admin_store') }}">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                                検索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="btn_search_right">
                    <li><a data-toggle="modal" data-target="#load_popup_modal_show_id" data-dismiss="modal"  class="click_to_load_modal_popup" href="{{ path('admin_store_create') }}"><span class="fa fa-plus" aria-hidden="true"></span> 新しいショップを追加</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //wrapp_search_btn -->


    <!-- wrapp wrapp_summary -->
    <div class="wrapp_summary">
        {% if pagination.page_total == 0 %}
            <div class="media">
                No Records.
            </div>
        {% else %}
            {% for store in stores %}
                <div class="media">
                    <div class="media-left">
                        {#<center><img class="media-object" src="{{ asset('backend/images/img_summary.jpg') }}" alt=""></center>#}
                        <center><img width="171px" height="172px" class="media-object" src="{{ asset(store_avatar_path~store.avatarUrl) }}" alt=""></center>
                    </div>
                    <div class="media-body">
                        <div class="top-media">
                            <h4 class="media-heading">{{ store.title }}</h4>
                            <a href="{{ path('admin_store_edit',{id:store.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="edit-icon click_to_load_modal_popup"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div class="top-media">
                            <span class="media-heading"><b>カテゴリ名: </b> {{ store.category.name }}</span>
                        </div>
                        <div class="top-media">
                            <span class="media-heading"><b>操作開始時刻: </b> {{ store.operationStartTime|date("H:i") }}</span>
                        </div>
                        <div class="top-media">
                            <span class="media-heading"><b>操作終了時刻: </b> {{ store.operationEndTime|date("H:i") }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
    <!--/ wrapp wrapp_summary -->
{% endblock %}

