{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}User Management{% endblock %}
{% set active_menu = 'app_user' %}

{% set count = pagination.item_total %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">クーポン一覧</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <div class="row">
            <div class="col-md-8">
                <form method="GET" action="{{ path('admin_app_user') }}">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                                検索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-4">
                    <ul class="btn_search_right">
                        <li><a data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="click_to_load_modal_popup" href="{{ path('admin_app_user_create') }}"><span class="fa fa-plus" aria-hidden="true"></span> 新しいユーザーを追加</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- wrapp_table -->
    <div class="wrapp_table">
        <!-- table -->
        <div class="table-responsive">
            <table class="table management_01">
                <thead>
                <tr>
                    <th>アバター</th>
                    <th>ユーザー名</th>
                    <th>役割</th>
                    <th>Eメール</th>
                    <th>電話</th>
                    <th>作成日</th>
                    <th>状態</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>アクション</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% if pagination.page_total == 0 %}
                <tr class="active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <td align="center" colspan="7">No Records.</td>
                    {% else %}
                        <td align="center" colspan="6">No Records.</td>
                    {% endif %}
                </tr>
                {% else %}
                    {% for item in users %}
                    <tr {% if loop.index is divisible by(2) %}class="active"{% endif %}>
                        <td>
                            <img src="{{ asset(user_avatar_path ~ item.avatarUrl) }}" alt="" height="42" width="42">
                        </td>
                        <td>
                            {{ item.username }}
                        </td>
                        <td>
                            {% if item.roles[0] is defined %}{{ item.roles[0] }} {% endif %}
                        </td>
                        <td>
                            {{ item.email }}
                        </td>
                        <td>
                            {{ item.tel }}
                        </td>
                        <td>
                            {{ item.createdAt|date("Y.m.d") }}
                        </td>

                        <td>
                            {% if item.isEnabled %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_app_user_active',{id:item.id}) }}" title="" class="blue">有効</a>
                                {% else %}
                                    <a href="javascript:void(0);" title="" class="blue">有効</a>
                                {% endif %}
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin_app_user_active',{id:item.id}) }}" title="" class="red">無効</a>
                                {% else %}
                                    <a href="javascript:void(0);" title="" class="red">無効</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('admin_app_user_edit',{id:item.id}) }}" data-toggle="modal" data-dismiss="modal"  data-target="#load_popup_modal_show_id" class="edit-icon click_to_load_modal_popup"><i class="fa fa-pencil"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                {% endif %}

                </tbody>
            </table>
            {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
        </div>

        <!-- //table -->
    </div>
    <!-- //wrapp_table -->
{% endblock %}

