{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}News{% endblock %}
{% set active_menu = 'news' %}

{% set count = pagination.item_total %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">お知らせ・新着</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="wrapp_search_btn">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <form method="GET" action="{{ path('admin_news') }}">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-group">
                                <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="ユーザー名/ハッシュタグを入力してください">
                            </form>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                                検索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-xs-6">
                {% include 'AdminBundle:Pager:pagination_news.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
            </div>
        </div>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- wrapp_news -->
    <div class="wrapp_news">
        <div class="row">
        {% if pagination.page_total == 0 %}
            <div class="col-md-12">
                No Records.
            </div>
        {% else %}
            {% for new in news %}
                <div class="col-md-12">
                    <div class="content_news">
                        <div class="top_news">
                            <h2>{{ new.store.title }}</h2>
                            <span class="date_news">
                                  {{ new.createdAt|date("Y.m.d") }}
                            </span>
                        </div>
                        <div class="bottom_news">
                            <p>
                                {{ new.introduction }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <!-- /wrapp_news -->
{% endblock %}