{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl">

    </div>

    <div class="wrapp-metro">
        <div class="metro-link">
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-1.png') }}" alt=""></span>
                            <span class="text-metro">店舗集客を増やしたい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-2.png') }}" alt=""></span>
                            <span class="text-metro">通販商品を販促したい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-3.png') }}" alt=""></span>
                            <span class="text-metro">ホテル稼働率を高めたい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-4.png') }}" alt=""></span>
                            <span class="text-metro">リピーターを増やしたい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-5.png') }}" alt=""></span>
                            <span class="text-metro">SNSを最大限活用したい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="row">
                    <div class="content-metro">
                        <a href="">
                            <span class="icon-metro"><img src="{{ asset('customer/images/icon-metro-6.png') }}" alt=""></span>
                            <span class="text-metro">お店・商品の認知度を増やしたい</span>
                            <span class="devider-metro"><i class="glyphicon glyphicon-menu-down"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-metro -->

    <div class="wrapp-form-home">
        <div class="container">
            <div class="col-md-12">
                <h2>広告とは異なる、新たなプロモーションを試してみませんか?</h2>
                <h2>登録に関するお問い合わせはこちらから。</h2>
            </div>
            <div class="col-md-12">
                <div class="form-content-home">
                    <form action="">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="企業名・店舗名"></div>
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="お名前"></div>
                        <div class="col-md-12"><input type="text" class="form-control" placeholder="メールアドレス"></div>
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8"><button type="button" class="btn btn-info">お問い合わせ</button></div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-form-home -->

    <div class="wrapp-img-home">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapp-img-home-content">
                    <h2>どんなサービスなのか?</h2>
                    <img src="{{ asset('customer/images/banner-content-home.jpg') }}" title="" class="img-responsive" />
                    <h3>
                        PONは、ユーザーが日々SNSに投稿する写真で、 <br>
                        「集客」と「接点」を作るアプリです。
                    </h3>
                    <p>
                        今、Instargram・LINEなどのSNSで日本・世界で流通する「写真」の数は数え切れない
                        ほどの数となっております。また、日本のスマホユーザーは世界でも一番、写真を撮影し保
                        存している枚数が多いと言われております。
                    </p>
                    <p>
                        我々はここに着目し、ユーザーが所有する写真やSNSで投稿した写真を「お店の新規集客」
                        や「リピーター獲得」につながる”ユーザーが創るクーポン”として実現出来ないかと思案し
                        ました。お店や企業とユーザーのコミュニケーションの密度も増し、より多くの顧客を獲得
                        できます。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-img-home -->

    <div class="wrapp-service">
        <div class="container">
            <div class="col-md-12">
                <h2>こんなメリットがあります。</h2>
            </div>
            <div class="col-md-4">
                <div class="content-service">
                    <span><img src="{{ asset('customer/images/img-service-1.png') }}"></span>
                    <p>アプリ・Webサイト、<br>オフラインで使えます!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-service">
                    <span><img src="{{ asset('customer/images/img-service-2.png') }}"></span>
                    <p>プッシュ通知での<br>集客も可能!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-service">
                    <span><img src="{{ asset('customer/images/img-service-3.png') }}"></span>
                    <p>自社クーポンアプリ<br>も作れる!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-service -->
{% endblock %}

