<header>
    <div class="wrapp_header">
        <div class="content_header">

            <div class="container">

                <div id="top">
                    <div class="block-title">
                        <a href="">
                            <img src="{{ asset('landing/images/logo.png') }}" class="logo" alt="">
                            <img src="{{ asset('landing/images/pon.png') }}" class="pon" alt="">
                        </a>
                    </div>
                    <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
                </div>

                <nav id="nav" role="navigation">
                    <ul>
                        <li class="is-active">
                            <a href="{{ path('customer_about') }}">PONについて</a>
                        </li>
                        <li>
                            <a href="#">導入メリット</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_flow') }}">ご利用の流れ</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_faq') }}">よくある質問</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_about_us') }}">運営会社</a>
                        </li>
                    </ul>
                    <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
                    <div id="btn_top_right">
                        <a href="" class="btn_top_first"><span>ログイン</span></a>
                        <a href="" class="btn_top_last"><span>無料トライアル</span></a>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>
<!-- //header -->