
{% form_theme form with ['AdminBundle:Form:fields.html.twig', _self] %}
<div id="frm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal_coupon">
            {{ form_start(form, {'attr': {'class': 'submitModal','data-ajax-redirect': path('admin_news_category'),'data-ajax-url': path("admin_news_category_create"), 'enctype': 'multipart/form-data'  }}) }}
            {{ form_errors(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ "news_category.create.title"|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="col-md-12">
                        <div class="form-setting">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-setting">
                            <span id="error_message" class="error text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-change">{{ "common.save"|trans }}</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

</div>

{% block scripts_footer %}
    <script src="{{ asset('backend/js/admin.js') }}"></script>
{% endblock %}
