{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}{{ "coupon_list.index.title"|trans }}{% endblock %}
{% set active_menu = 'summary' %}

{% set count = pagination.item_total %}

{% if params.status is defined %}
    {% set status = params.status %}
{% else %}
    {% set status = null %}
{% endif %}

{% set params_emptyapproved = params|merge({ 'status': null, 'page_index': 1 }) %}
{% set params_approved = params|merge({ 'status': true, 'page_index': 1 }) %}
{% set params_unapproved = params|merge({ 'status': false, 'page_index': 1 }) %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">{{ "coupon_list.index.title"|trans }}</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="btn-group btn-group-justified">
                <a href="{{ path("admin_summary", params_emptyapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is  empty %}active{% endif %}" role="button">{{ "coupon_list.index.status.all"|trans }}</a>
                <a href="{{ path("admin_summary", params_approved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 1%}active{% endif %}" role="button">{{ "coupon_list.index.status.approved"|trans }}</a>
                <a href="{{ path("admin_summary", params_unapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 0%}active{% endif %}" role="button">{{ "coupon_list.index.status.unapproved"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <form method="GET" action="{{ path('admin_summary') }}">
        <div class="row">
            <div class="col-md-6">
                <form class="form-group">
                    <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="{{ "coupon_list.index.search_place_holder"|trans }}">
                    <span class="form-control-feedback left" aria-hidden="true"></span>
                </form>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
            </div>
        </div>
        </form>
    </div>
    <!-- //wrapp_search_btn -->


    <!-- wrapp wrapp_summary -->
    <div class="wrapp_summary">
        {% if pagination.page_total == 0 %}
            <div class="media">
                {{ "common.no_record"|trans }}
            </div>
        {% else %}
            {% for coupon in coupons %}
                <div class="media">
                    <div class="media-left">
                        <center><img width="171px" height="172px" class="media-object" src="{{ asset(coupon_avatar_path~coupon.imageUrl) }}" alt=""></center>
                    </div>
                    <div class="media-body">
                        <div class="top-media">
                            <h4 class="media-heading">{{ coupon.title }}</h4>
                            <a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-dismiss="modal" data-toggle="modal" data-target="#load_popup_modal_show_id" class="edit-icon click_to_load_modal_popup"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div class="top-media">
                            <span class="left"><a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-dismiss="modal"  data-toggle="modal" class="click_to_load_modal_popup" data-target="#load_popup_modal_show_id"  class="link-id">{{ ("form.coupon.type_choices." ~coupon_types[coupon.type])|trans }}</a> ID: {{ coupon.couponId }}</span>
                            <span class="right"><span class="color-red">期限:{{ coupon.expiredTime|date("Y.m.d") }}</span></span>
                        </div>
                        <div class="top-media">
                            <span class="left">{{ coupon.hashtag|replace({',': ' '}) }}</span>
                        </div>
                        {#<div class="top-media">#}
                            {#<span class="left">測定ON 自動承認 <a href="" class="link-id-bottom">QRコードを見る</a></span>#}
                        {#</div>#}
                        <div class="top-media">
                            <span>
                              {{ coupon.description }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
    <!--/ wrapp wrapp_summary -->
{% endblock %}

