{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}Summary{% endblock %}
{% set active_menu = 'summary' %}

{% set count = pagination.item_total %}

{% if params.status is defined %}
    {% set status = params.status %}
{% else %}
    {% set status = null %}
{% endif %}

{% set params_emptyapproved = params|merge({ 'status': null, 'page_index': 1 }) %}
{% set params_approved = params|merge({ 'status': true, 'page_index': 1 }) %}
{% set params_unapproved = params|merge({ 'status': false, 'page_index': 1 }) %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">クーポン一覧</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="btn-group btn-group-justified">
                <a href="{{ path("admin_summary", params_emptyapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is  empty %}active{% endif %}" role="button">全て</a>
                <a href="{{ path("admin_summary", params_approved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 1%}active{% endif %}" role="button">未承認</a>
                <a href="{{ path("admin_summary", params_unapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 0%}active{% endif %}" role="button">承認済み</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <script type="text/javascript">

        $(document).ready(function(){


        });

    </script>


    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <form method="GET" action="{{ path('admin_summary') }}">
        <div class="row">
            <div class="col-md-6">
                <form class="form-group">
                    <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="ユーザー名/ハッシュタグを入力してください">
                    <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                </form>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-search"></i>
                    検索
                </button>
            </div>
        </div>
        </form>
    </div>
    <!-- //wrapp_search_btn -->


    <!-- wrapp wrapp_summary -->
    <div class="wrapp_summary">
        {% if pagination.page_total == 0 %}
            <div class="media">
                No Records.
            </div>
        {% else %}
            {% for coupon in coupons %}
                <div class="media">
                    <div class="media-left">
                        {#<center><img class="media-object" src="{{ asset('backend/images/img_summary.jpg') }}" alt=""></center>#}
                        <center><img width="171px" height="172px" class="media-object" src="{{ asset(coupon_avatar_path~coupon.imageUrl) }}" alt=""></center>
                    </div>
                    <div class="media-body">
                        <div class="top-media">
                            <h4 class="media-heading">{{ coupon.title }}</h4>
                            <a href="{{ path('admin_summary_edit',{id:coupon.id}) }}" data-toggle="modal" data-target=".bs-example-modal-lg" class="edit-icon click_to_load_modal_popup"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div class="top-media">
                            <span class="left"><a href="click_to_load_modal_popup" class="link-id">{{ coupon_types[coupon.type] }}</a> ID: {{ coupon.couponId }}</span>
                            <span class="right"><span class="color-red">期限:{{ coupon.expiredTime|date("Y.m.d") }}</span></span>
                        </div>
                        <div class="top-media">
                            <span class="left">{{ coupon.hashtag|replace({',': ' '}) }}</span>
                        </div>
                        {#<div class="top-media">#}
                            {#<span class="left">測定ON 自動承認 <a href="" class="link-id-bottom">QRコードを見る</a></span>#}
                        {#</div>#}
                        <div class="top-media">
                            <span>
                              {{ coupon.description }}
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
    <!--/ wrapp wrapp_summary -->
{% endblock %}

