{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Flow</h2>
        <h3>導入フロー</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-category-flow">
        <div class="container">
            <div class="col-md-12">
                <div class="flow-content">
                    <ul class="flow-nav">
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="text-left-flow">Step1</span>
                                    </div>
                                    <div class="col-md-7">
                                        <span class="link-flow-nav">お申し込み</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="arrow-flow"><center><img src="{{ asset('customer/images/arrow-flow.gif') }}" alt=""></center></li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="text-left-flow">Step2</span>
                                    </div>
                                    <div class="col-md-7">
                                        <span class="link-flow-nav">登録審査</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="arrow-flow"><center><img src="{{ asset('customer/images/arrow-flow.gif') }}" alt=""></center></li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="text-left-flow">Step3</span>
                                    </div>
                                    <div class="col-md-7">
                                        <span class="link-flow-nav">ヒアリング</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="arrow-flow"><center><img src="{{ asset('customer/images/arrow-flow.gif') }}" alt=""></center></li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="text-left-flow">Step4</span>
                                    </div>
                                    <div class="col-md-7">
                                        <span class="link-flow-nav">ご契約</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="arrow-flow"><center><img src="{{ asset('customer/images/arrow-flow.gif') }}" alt=""></center></li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span class="text-left-flow">Step5</span>
                                    </div>
                                    <div class="col-md-7">
                                        <span class="link-flow-nav">サービス利用開始</span>
                                    </div>
                                    <div class="col-md-12">
                                        <center><img src="{{ asset('customer/images/img-flow.gif') }}" class="img-responsive" alt=""></center>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

