{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}Customer{% endblock %}
{% set active_menu = 'customer' %}

{% set count = pagination.item_total %}
{% block breadcurm %}
    <div class="row">
        <div class="col-md-9 col-xs-6">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">顧客管理</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="btn_bread_right">
                <a href="" class="btn_up"></a>
                <a href="" class="btn_ques"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form method="GET" action="{{ path('admin_customer') }}">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control has-feedback-left" value="{{ params.query }}" name="query" placeholder="ユーザー名/ハッシュタグを入力してください">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                                検索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- result_search -->
    <div class="result_search">
        <div class="row">
            <div class="col-md-12">
                <span>検索結果 {{ count }}件</span>
            </div>
        </div>
    </div>
    <!-- //result_search -->

    <!-- wrapp_table -->
    <div class="wrapp_table">
        <!--/ poup user 2 -->
        <div class="modal fade" id="customerViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        </div>
        <!--/ poup user 2 -->

        <!-- table -->
        <div class="table-responsive">
            <table class="table management_01">
                <thead>
                <tr>
                    <th>アバター</th>
                    <th>ユーザーネーム</th>
                    <th>ユーザーID</th>
                    <th>性別</th>
                    <th>最終ログイン</th>
                    <th>状態</th>
                </tr>
                </thead>
                <tbody>
                {% if pagination.page_total == 0 %}
                    <tr class="active">
                        <td align="center" colspan="6">No Records.</td>
                    </tr>
                {% else %}
                    {% for customer in customers %}
                        <tr {% if loop.index is divisible by(2) %}class="active"{% endif %}>
                            <td>
                                <a href="{{ path('admin_customer_view',{id:customer.id}) }}" data-toggle="modal" data-modal="customerViewModal" data-target=".bs-example-modal-lg" class="click_to_load_modal_popup">
                                    <img src="{{ asset(user_avatar_path ~ customer.avatarUrl) }}" alt="" height="42" width="42">
                                </a>
                            </td>
                            <td>
                                {{ customer.username }}
                            </td>
                            <td>
                                {{ customer.appUserId }}
                            </td>
                            <td>
                                {{ genders[customer.gender] }}
                            </td>
                            <td>
                                {{ customer.lastLogin|date("Y.m.d") }}
                            </td>

                            <td>
                                {% if customer.isEnabled %}
                                    <a href="{{ path('admin_customer_active',{id:customer.id}) }}" title="" class="blue">有効</a>
                                {% else %}
                                    <a href="{{ path('admin_customer_active',{id:customer.id}) }}" title="" class="red">無効</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                {% endif %}
                </tbody>
            </table>
            {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
        </div>
        <!-- //table -->
    </div>
    <!-- //wrapp_table -->
{% endblock %}