{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>FAQ</h2>
        <h3>よくある質問</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <div class="wrapp-category-faq">
        <div class="container">
            <div class="col-md-12">
                <div class="faq-content">
                    <ul class="faq-nav">
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                        <p class="text-faq-nav">
                                            テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキスト
                                            が入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りま
                                            すテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキス
                                            トが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り
                                            ますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキ
                                            ストが入ります
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <div class="row">
                                    <div class="col-md-2">
                                        <center class="img-faq-nav"><img src="{{ asset('customer/images/img-faq-nav.gif') }}" alt=""></center>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="link-faq-nav">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-category-faq -->
{% endblock %}

