<div class="nav-top">
    <div class="container">
        <div class="row">
            <div class="cpl-md-12">
                <div class="logo-m"><h1><a href="{{ path('customer_homepage') }}"><img src="{{ asset('customer/images/logo-m.png') }}" alt=""></a></h1></div>
                <label for="show-menu" class="show-menu"><img src="{{ asset('customer/images/icon-menu.png') }}" alt=""></label>
                <input type="checkbox" id="show-menu" role="button">
                <ul id="menu">
                    <li class="{% if active_menu|default('') == "about" %}active{% endif %}"><a href="{{ path('customer_about') }}" title="">PONについて</a></li>
                    <li class="{% if active_menu|default('') == "function" %}active{% endif %}"><a href="{{ path('customer_function') }}" title="">PONの機能</a></li>
                    <li class="{% if active_menu|default('') == "merrit" %}active{% endif %}"><a href="{{ path('customer_merrit') }}" title="">我々にしかできないこと</a></li>
                    <li class="{% if active_menu|default('') == "flow" %}active{% endif %}"><a href="{{ path('customer_flow') }}" title="">導入フロー</a></li>
                    <li class="{% if active_menu|default('') == "portfolio" %}active{% endif %}"><a href="{{ path('customer_portfolio') }}" title="">導入事例</a></li>
                    <li class="{% if active_menu|default('') == "faq" %}active{% endif %}"><a href="{{ path('customer_faq') }}" title="">よくある質問</a></li>
                    <li class="{% if active_menu|default('') == "news" %}active{% endif %}"><a href="{{ path('customer_news') }}" title="">お知らせ</a></li>
                    <li class="{% if active_menu|default('') == "about_us" %}active{% endif %}"><a href="{{ path('customer_about_us') }}" title="">運営会社</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>