<div class="nav-top">
    <div class="container">
        <div class="row">
            <div class="cpl-md-12">
                <div class="logo-m"><h1><a href="index.html"><img src="{{ asset('customer/images/logo-m.png') }}" alt=""></a></h1></div>
                <label for="show-menu" class="show-menu"><img src="{{ asset('customer/images/icon-menu.png') }}" alt=""></label>
                <input type="checkbox" id="show-menu" role="button">
                <ul id="menu">
                    <li><a href="{{ path('customer_homepage') }}">PONについ</a></li>
                    <li><a href="{{ path('customer_about') }}">PONの機能</a></li>
                    <li><a href="{{ path('customer_faq') }}">我々にしかできないこ</a></li>
                    <li><a href="{{ path('customer_flow') }}">導入フロ</a></li>
                    <li><a href="{{ path('customer_news') }}">導入事例</a></li>
                    <li><a href="{{ path('customer_metric') }}">よくある質問</a></li>
                    <li><a href="{{ path('customer_function') }}">お知らせ</a></li>
                    <li><a href="{{ path('customer_contact') }}">運営会社</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>