{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}Management{% endblock %}
{% set active_menu = 'management' %}

{% set count = pagination.item_total %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">承認管理</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default btn_tab_breadcrumbs active" role="button">全て</a>
                <a href="#" class="btn btn-default btn_tab_breadcrumbs" role="button">未承認</a>
                <a href="#" class="btn btn-default btn_tab_breadcrumbs" role="button">承認済み</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn_bread_right">
                <a href="" class="btn_up"></a>
                <a href="" class="btn_ques"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <div class="row">
            <div class="col-md-6">
                <form class="form-group">
                    <input type="text" class="form-control has-feedback-left" id="" placeholder="ユーザー名/ハッシュタグを入力してください">
                    <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
                </form>
            </div>
            <div class="col-md-6">
                <ul class="btn_search_right">
                    <li><a href="">選択したユーザーを承認</a></li>
                    <li><a href="">すべてのユーザーを承認</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- result_search -->
    <div class="result_search">
        <div class="row">
            <div class="col-md-12">
                <span>検索結果 2件</span>
            </div>
        </div>
    </div>
    <!-- //result_search -->

    <!-- wrapp_table -->
    <div class="wrapp_table">

        <!-- poup user -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog photo_user" role="document">
                <div class="modal-content mana_user">
                    <div class="modal-body">
                        <img src="{{ asset('backend/images/photo_user.jpg') }}" class="img-responsive" alt="">
                        <div class="meta-footer">
                            <span>#hashtag #hashtag #hashtag</span>
                        </div>
                    </div>
                </div>
                <div class="wrapp_btn_close_poup_photo">
                    <button type="button" class="btn_mana_user" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        <!-- //poup user -->

        <!--/ poup user 2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal_pon">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-xs-9">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本情報</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">PON利用情報</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <div class="col-xs-3">
                                <img src="{{ asset('backend/images/img_table_poup.jpg') }}" class="img-responsive" alt="">
                            </div>
                            <div class="col-xs-3 us_poup_left">
                                <p>ユーザーID</p>
                                <p>ユーザーネーム</p>
                                <p>性別</p>
                                <p>年代</p>
                                <p>地域</p>
                            </div>
                            <div class="col-xs-6 us_poup_right">
                                <p>12345678</p>
                                <p>ハルク</p>
                                <p>男性</p>
                                <p>30代</p>
                                <p>東京都</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <div class="content_us_poup">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table  class="table table-condensed tb_ul">
                                                <tbody>
                                                <tr>
                                                    <td width="25%">ユーザー属性</td>
                                                    <td width="15%"><strong>テキスト</strong></td>
                                                    <td width="60%">
                                                        <ul class="nav_radio">
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>趣味趣向</td>
                                                    <td><strong>テキスト</strong></td>
                                                    <td>
                                                        <ul class="nav_radio">
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>クーポン利用回数</td>
                                                    <td><strong>12回</strong></td>
                                                    <td>
                                                        <ul class="nav_radio">
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>口コミ力</td>
                                                    <td><strong>テキスト</strong></td>
                                                    <td>
                                                        <ul class="nav_radio">
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                            <li class="line_radio"><span></span></li>
                                                            <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <h2>投稿画像</h2>
                                        <ul class="img_poup_us">
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li class="none"><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                            <li class="none"><span><img src="{{ asset('backend/images/img_table_poup_2.jpg') }}" alt=""></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ poup user 2 -->

        <!-- table -->
        <div class="table-responsive">
            <table class="table management_01">
                <thead>
                <tr>
                    <th>選択</th>
                    <th></th>
                    <th>ユーザーネーム</th>
                    <th>投稿写真</th>
                    <th>ハッシュタグ</th>
                    <th>ステータス</th>
                </tr>
                </thead>
                <tbody>
                {% if pagination.page_total == 0 %}
                <tr class="active">
                    <td align="center" colspan="9">No Records.</td>
                </tr>
                {% else %}
                    {% for item in lists %}
                    <tr {% if loop.index is divisible by(2) %}class="active"{% endif %}>
                        <th scope="row">
                            <div>
                                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                                <label for="checkbox-1" class="checkbox-custom-label"></label>
                            </div>
                        </th>

                        <td>
                            <a href="" data-toggle="modal" data-target="#myModal2">
                                <img src="{{ asset(user_avatar_path ~ item.appUser.avatarUrl) }}" alt="" height="42" width="42">
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                {{ item.appUser.username }}
                            </a>
                        </td>
                        <td>
                            <a href="" title="" class="blue" data-toggle="modal" data-target="#myModal">
                                写真を確認する
                            </a>
                        </td>
                        <td> {{ item.coupon.hashTag|replace({',': ' '})}}</td>
                        <td><a href="" title="" class="red">{% if item.status == 0 %} 未承認 {% else %} 承認された{% endif %}</a></td>
                    </tr>
                    {% endfor %}

                {% endif %}

                </tbody>
            </table>
            {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
        </div>

        <!-- //table -->
    </div>
    <!-- //wrapp_table -->
{% endblock %}

