{% extends "AdminBundle:Layouts:layout.html.twig" %}
{% block title %}{{ "approve_management.index.title"|trans }}{% endblock %}
{% set active_menu = 'management' %}

{% set count = pagination.item_total %}

{% if params.status is defined %}
    {% set status = params.status %}
{% else %}
    {% set status = null %}
{% endif %}

{% set params_emptyapproved = params|merge({ 'status': null, 'page_index': 1 }) %}
{% set params_approved = params|merge({ 'status': true, 'page_index': 1 }) %}
{% set params_unapproved = params|merge({ 'status': false, 'page_index': 1 }) %}

{% block breadcurm %}
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <ul class="breadcrumbs_left">
                <li><span class="text_bre">{{ "approve_management.index.title"|trans }}</span></li>
                <li><span class="no_bre">{{ count }}</span></li>
            </ul>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="btn-group btn-group-justified">
                <a href="{{ path("admin_management", params_emptyapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is  empty %}active{% endif %}" role="button">{{ "approve_management.index.status.all"|trans }}</a>
                <a href="{{ path("admin_management", params_approved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 1%}active{% endif %}" role="button">{{ "approve_management.index.status.approved"|trans }}</a>
                <a href="{{ path("admin_management", params_unapproved) }}" class="btn btn-default btn_tab_breadcrumbs {% if status is not empty and status == 0%}active{% endif %}" role="button">{{ "approve_management.index.status.unapproved"|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <!-- wrapp_search_btn -->
    <div class="wrapp_search_btn">
        <div class="row">
            <form  method="GET" action="{{ path('admin_management') }}"  class="form-group" role="form">
                <div class=" col-md-5 form-group ">
                    <input type="text" value="{{ query }}" name="query" id="search" class="form-control has-feedback-left" id="" placeholder="{{ "approve_management.index.search"|trans }}">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                </div>
                <!-- form-group -->
            </form>
            <div class="col-md-6">
                <ul class="btn_search_right">
                    <li><a data-ajax-modal="ajaxModal" data-ajax-checked=".ckmanagement" data-ajax-checked-field="ids" data-ajax-confirm="{{ "approve_management.index.approve_select_confirm"|trans }}" data-ajax-url="{{ path("admin_management_approve_selected") }}"  data-ajax-redirect="{{ path("admin_management") }}" href="javascript:void(0);">{{ "approve_management.index.approve_select"|trans }}</a></li>
                    <li><a data-ajax-modal="ajaxModal"  data-ajax-confirm="{{ "approve_management.index.approve_all_confirm"|trans }}" data-ajax-url="{{ path("admin_management_approve_all") }}"  data-ajax-redirect="{{ path("admin_management") }}" href="javascript:void(0);">{{ "approve_management.index.approve_all"|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //wrapp_search_btn -->

    <!-- wrapp_table -->
    <div class="wrapp_table">

        <!-- poup user -->
        <div class="modal fade" id="viewPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
        <!-- //poup user -->

        <!--/ poup user 2 -->
        <div class="modal fade" id="viewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        </div>
        <!--/ poup user 2 -->

        <!-- table -->
        <div class="table-responsive">
            <table class="table management_01">
                <thead>
                <tr>
                    <th>{{ "approve_management.index.table.choice"|trans }}</th>
                    <th></th>
                    <th>{{ "approve_management.index.table.user_name"|trans }}</th>
                    <th>{{ "approve_management.index.table.post_photo"|trans }}</th>
                    <th>{{ "approve_management.index.table.hash_tag"|trans }}</th>
                    <th>{{ "approve_management.index.table.status"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% if pagination.page_total == 0 %}
                <tr class="active">
                    <td align="center" colspan="9">{{ "common.no_record"|trans }}</td>
                </tr>
                {% else %}
                    {% for item in lists %}
                    <tr {% if loop.index is divisible by(2) %}class="active"{% endif %}>
                        <th scope="row">
                            <div>
                                <input {% if item.status == 1 %} disabled="disabled" {% endif %} id="ckm-{{ item.id }}" value="{{ item.id }}" class="checkbox-custom ckmanagement" name="ckm-{{ item.id }}" type="checkbox">
                                <label for="ckm-{{ item.id }}" class="checkbox-custom-label"></label>
                            </div>
                        </th>

                        <td>
                            <a data-toggle="modal" data-target="#viewUser" data-dismiss="modal"  class="click_to_load_modal_popup" href="{{ path('admin_management_user',{id:item.id}) }}">
                                <img onerror="this.src='{{ asset('backend/images/no_img.jpg') }}'"  onerror="this.src='{{ asset('backend/images/no_img.jpg') }}'" src="{{ asset(user_avatar_path ~ item.appUser.avatarUrl) }}" alt="" height="42" width="42">
                            </a>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#viewUser" data-dismiss="modal"  class="click_to_load_modal_popup" href="{{ path('admin_management_user',{id:item.id}) }}">
                                {{ item.appUser.username }}
                            </a>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#viewPhoto" data-dismiss="modal"  class="click_to_load_modal_popup" href="{{ path('admin_management_photo',{id:item.id}) }}" title="" class="blue">
                                {{ "approve_management.index.table.check_photos"|trans }}
                            </a>
                        </td>
                        <td> {{ item.coupon.hashTag|replace({',': ' '})}}</td>
                        <td>
                            {% if item.status == 0 %}
                                <a href="{{ path("admin_management_approve",{id:item.id}) }}" title="" class="red"> {{ "approve_management.index.table.unapproved"|trans }}</a>
                            {% else %}
                                <a href="{{ path("admin_management_unapprove",{id:item.id}) }}" title="" class="blue">{{ "approve_management.index.table.approved"|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                {% endif %}

                </tbody>
            </table>
            {% include 'AdminBundle:Pager:pagination.html.twig' with {pagination: pagination, route: path(app.request.attributes.get('_route')) } %}
        </div>

        <!-- //table -->
    </div>
    <!-- //wrapp_table -->
{% endblock %}

