<div class="modal-dialog photo_user" role="document">
    <div class="modal-content mana_user">
        <div class="modal-body">
            {% if postPhotos is not empty %}
                <a target="_blank" href="{{ post.url }}"><img onerror="this.src='{{ asset('backend/images/no_img.jpg') }}'"  src="{{ postPhotos[0].photo.imageUrl }}" class="img-responsive" alt=""></a>
            {% endif %}

            <div class="meta-footer">
                {% if post is defined and post.hashTags is defined %}
                    <span><a target="_blank" href="{{ post.url }}">{{ post.hashTags|replace({',': ' '})}}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="wrapp_btn_close_poup_photo">
        <button type="button" class="btn_mana_user" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
    </div>
</div>