<div class="modal-dialog" role="document">
    <div class="modal-content modal_pon">
        <div class="modal-header">
            <div class="row">
                <div class="col-xs-9">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本情報</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">PON利用情報</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                <div class="col-xs-3">
                    <img src="{{ asset(user_avatar_path ~ user.avatarUrl) }}" class="img-responsive" alt="">
                </div>
                <div class="col-xs-3 us_poup_left">
                    <p>ユーザーID</p>
                    <p>ユーザーネーム</p>
                    <p>性別</p>
                </div>
                <div class="col-xs-6 us_poup_right">
                    <p>{{ user.appUserId }}</p>
                    <p>{{ user.userName }}</p>
                    <p>
                        {% if user.gender is not empty %}
                            {{ genders[user.gender] }}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">
                <div class="content_us_poup">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table  class="table table-condensed tb_ul">
                                    <tbody>
                                    <tr>
                                        <td width="25%">ユーザー属性</td>
                                        <td width="15%"><strong>テキスト</strong></td>
                                        <td width="60%">
                                            <ul class="nav_radio">
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>趣味趣向</td>
                                        <td><strong>テキスト</strong></td>
                                        <td>
                                            <ul class="nav_radio">
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>クーポン利用回数</td>
                                        <td><strong>12回</strong></td>
                                        <td>
                                            <ul class="nav_radio">
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>口コミ力</td>
                                        <td><strong>テキスト</strong></td>
                                        <td>
                                            <ul class="nav_radio">
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_enable.png') }}" alt=""></span></li>
                                                <li class="line_radio"><span></span></li>
                                                <li><span><img src="{{ asset('backend/images/radio_disable.png') }}" alt=""></span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <h2>投稿画像</h2>
                            <ul class="img_poup_us">
                                {% for postPhoto in postPhotos %}
                                    <li><span><img width="76px" height="76px" src="{{ postPhoto.photo.imageUrl }}" alt=""></span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>