{% extends "CustomerBundle:Layouts:layout.html.twig" %}
{% block title %}PONの機能{% endblock %}
{% set active_menu = 'function' %}
{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Function</h2>
        <h3>PONの機能</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <center><img src="{{ asset('customer/images/img-function.gif') }}" class="img-responsive" alt=""></center>

    <div class="wrapp-function">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapp-function-content">
                    <h2>どなたでも直感的に使える操作性</h2>
                    <p>今、Instargram・LINEなどのSNSで日本・世界で流通する「写真」の数は数え切れない</p>
                    <p>ほどの数となっております。また、日本のスマホユーザーは世界でも一番、写真を撮影し保</p>
                    <p>存している枚数が多いと言われております。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-function -->

    <div class="wrapp-function-2">
        <div class="left">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>クーポンの作成はわずか1分</h2>
                    <p>
                        クーポンに必要な情報を入力・洗濯する <br>
                        だけで、即座いあなたのクーポンがユー <br>
                        ザーの元に届く。
                    </p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{{ asset('customer/images/img-function-2.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-2 -->

    <div class="wrapp-function-3">
        <div class="right">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>プッシュ通知でリマインド</h2>
                    <p>
                        ユーザーをリマインド・活性化させる点 <br>
                        で、プッシュ通知は優れているため、 <br>
                        うまく活用すれば、高いロイヤリティユ <br>
                        ーザーへと成長させることができます。
                    </p>
                </div>
            </div>
        </div>
        <div class="left">
            <img src="{{ asset('customer/images/img-function-3.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-3 -->

    <div class="wrapp-function-2">
        <div class="left">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>アクセス解析で現状を把握</h2>
                    <p>
                        訪問数・セッション・PV数の増減を解 <br>
                        析データから把握して、ボトルネックは <br>
                        どこににあるのかを特定しましょう。
                    </p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{{ asset('customer/images/img-function-4.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-4 -->

    <div class="wrapp-function-3 func_last">
        <div class="right">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>顧客管理からユーザーを知ろう</h2>
                    <p>
                        PONでは、あなたの顧客であるユーザ <br>
                        ーをを管理できます。また、ユーザーの <br>
                        利用動向から各ユーザーの属性や趣味趣 <br>
                        向、発信力も知ることができます。
                    </p>
                </div>
            </div>
        </div>
        <div class="left">
            <img src="{{ asset('customer/images/images/img-function-5.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-5 -->
{% endblock %}

