{% extends "CustomerBundle:Layouts:layout.html.twig" %}

{% block page_content %}
    <div class="wrapp-sl-content">
        <h2>Function</h2>
        <h3>PONの機能</h3>
    </div>
    <!-- //wrapp-sl-content -->

    <center><img src="{{ asset('customer/images/img-function.gif') }}" class="img-responsive" alt=""></center>

    <div class="wrapp-function">
        <div class="container">
            <div class="col-md-12">
                <div class="wrapp-function-content">
                    <h2>どんなサービスなのか?</h2>
                    <p>今、Instargram・LINEなどのSNSで日本・世界で流通する「写真」の数は数え切れない</p>
                    <p>ほどの数となっております。また、日本のスマホユーザーは世界でも一番、写真を撮影し保</p>
                    <p>存している枚数が多いと言われております。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //wrapp-function -->

    <div class="wrapp-function-2">
        <div class="left">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>クーポンの作成はわずか1分</h2>
                    <p>
                        クーポンに必要な情報を入力・洗濯する <br>
                        だけで、即座いあなたのクーポンがユー <br>
                        ザーの元に届く。
                    </p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{{ asset('customer/images/img-function-2.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-2 -->

    <div class="wrapp-function-3">
        <div class="right">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>クーポンの作成はわずか1分</h2>
                    <p>
                        クーポンに必要な情報を入力・洗濯する <br>
                        だけで、即座いあなたのクーポンがユー <br>
                        ザーの元に届く。
                    </p>
                </div>
            </div>
        </div>
        <div class="left">
            <img src="{{ asset('customer/images/img-function-3.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-3 -->

    <div class="wrapp-function-2">
        <div class="left">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>クーポンの作成はわずか1分</h2>
                    <p>
                        クーポンに必要な情報を入力・洗濯する <br>
                        だけで、即座いあなたのクーポンがユー <br>
                        ザーの元に届く。
                    </p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="{{ asset('customer/images/img-function-4.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-4 -->

    <div class="wrapp-function-3">
        <div class="right">
            <div class="col-md-12">
                <div class="content-function">
                    <h2>クーポンの作成はわずか1分</h2>
                    <p>
                        クーポンに必要な情報を入力・洗濯する <br>
                        だけで、即座いあなたのクーポンがユー <br>
                        ザーの元に届く。
                    </p>
                </div>
            </div>
        </div>
        <div class="left">
            <img src="{{ asset('customer/images/img-function-5.gif') }}" class="img-responsive" alt="">
        </div>
    </div>
    <!-- //wrapp-function-5 -->
{% endblock %}

